<div class="w-full py-3 px-3 flex items-center justify-between border-t border-gray-300 bg-blue-300">
  <%= form_with(model: message, local: true) do |form| %>
    <% if message.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>
        <ul>
          <% message.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :room_id, value: room.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div>
      <%= form.text_field :content, placeholder: "Type your message here...", class: 'py-2 pl-5 w-full rounded-full bg-white outline-none focus:text-gray-700' %>
      <%= form.submit "送出訊息", class: "outline-none focus:outline-none mt-5", id: "send-btn" do %>
      <% end %>
    </div>
  <% end %>
</div>
