<header>
	<div class="navbar mb-2 shadow-lg bg-primary text-primary-content w-full">
		<div class="px-2 mx-2 lg:flex">
			<h1><%= link_to 'LOGO', root_path %></h1>
		</div>

		<div class="flex-grow">
			<div class="form-control flex flex-1">
				<form action="/products/search" method="GET">
					<input type="text" name="keyword" placeholder="搜尋好設計、體驗活動" class="input-serarch">
					<button class="btn btn-square btn-ghost" value="search-icon">
						<i class="fas fa-search text-xl"></i>
					</button>
				</form>					
			</div>
		</div>
			
		<% if current_user %>
		<div class="flex-none">
			<div class="avatar dropdown">
			<div class="rounded-full w-10 h-10 m-1" tabindex="0">
				<img src="https://i.pravatar.cc/500?img=32">
			</div>
			<ul tabindex="0" class="p-2 shadow menu dropdown-content bg-white rounded-box w-52">
				<li> 
					<%= link_to profile_member_index_path do %>
					<div>
						<%= sanitize now_rank_icon(current_user.accumulated_amount) %>
						<%= current_user.email %>
					</div> 
					<% end %>
				</li>  
				<li><a href="#">我的信箱</a></li>
				<li><a href="#">通知中心</a></li>
				<li><a href="#">P_coins</a></li>
			
				<li><a href="#">我的獎勵</a></li>
				<li><%= link_to '購買訂單', orders_path %></li>
				<li><a href="#">邀朋友獲得獎勵</a></li>
				<li><%= link_to '帳號設定', edit_member_index_path %></li>
				<li><%= link_to('登出', destroy_user_session_path, method: 'delete') %></li>
			</ul>
			</div>
		</div>
		<% else %>
		<div class="flex-none">
			<%= render 'components/login' %>
		</div>
		<% end %>

	

		<div class="flex-none">
			<button class="btn btn-square btn-ghost">
				<i class="far fa-heart text-xl"></i>
			</button>
		</div>

		<div class="flex-none">
			<%= link_to store_path do %>
			<button class="btn btn-square btn-ghost">
				<i class="fas fa-store text-xl text-blue-900"></i>
			</button>
			<% end %>
		</div>
			
		<div class="flex-none">
			<%= link_to cart_path do %>
			<button class="btn btn-square btn-ghost">
				<i class="fas fa-shopping-cart text-xl text-blue-900"></i>
			</button>
			<% end %>
		</div>
	</div>
</header>