<h1>訂單總覽</h1>

<div>
	<table class='w-full'>
		<thead>
			<tr>
				<th>訂單序號</th>
				<th>訂單狀態</th>
				<th>建立時間</th>
				<th>訂單總金額</th>
				<th>訂單明細</th>
			</tr>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
			<tr>
				<td><%= order.serial %></td>
				<td><%= check_state(order) %></td>
				<td><%= order.created_at.time %></td>
				<td><%= order.total %></td>
				<td><%= link_to '查看明細', detail_store_order_path(order), class: 'btn' %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>