<h1 class='text-lg text-center'>訂單明細</h1>

<ul class="w-full steps order-steps py-5">
	<%= content_tag(:li, '待付款', data: {content: "✓"}, class: state_step(@order, 0)) %>
	<%= content_tag(:li, '已付款', data: {content: "✓"}, class: state_step(@order, 1)) %>
	<%= content_tag(:li, '運送中', data: {content: "✓"}, class: state_step(@order, 2)) %>
	<%= content_tag(:li, '已送達', data: {content: "✓"}, class: state_step(@order, 3)) %>
	<%= content_tag(:li, '已取消', data: {content: "✓"}, class: state_step(@order, 4)) %>
</ul>

<div class='border rounded'>
	<div>
		<ul>
			<li class='text-lg'>訂單編號：<%= @order.serial %></li>
			<li class='text-lg'>訂單金額：<%= @order.total %></li>
			<li class='text-lg'>收件人：<%= @order.receiver %></li>
			<li class='text-lg'>收件地址：<%= @order.address %></li>
			<li class='text-lg'>運送方式：<%= @order.delivery %></li>
			<li class='hidden' id='order-state'><%= @order.state %></li>
		</ul>
		<% if @store_order.shipment_confirm %>
			<p class='px-3'>您已出貨</p>
		<% else %>
			<%= form_with model: @order, url: shipment_store_order_path(@order), method: 'GET' do |f| %>
				<%= f.submit '出貨', class: 'btn btn-success' %>
			<% end %>
		<% end %>
	</div>
	
	<div tabindex="0" class="collapse collapse-arrow">
	  <div class="collapse-title text-lg font-medium">
		訂單明細
	  </div>
	  <div class="collapse-content">
		<p class='p-3'>商店：<%= @store.name %></p>
		<% @items.each do |item| %>
			<div class='border rounded m-3'>
				<p class='p-3'>品名：<%= item.name %></p>
				<p class='p-3'>單價：<%= item.price.to_i %></p>
				<p class='p-3'>數量：<%= item.quantity %></p>
			</div>
		<% end %>
	  </div>
	</div>
</div>