<h1 class='text-4xl text-center'>商店頁面</h1>

<div class='grid grid-cols-4'>
	<div class='col'>
		<% if current_store %>
			<div class="collapse w-48 border rounded-box border-base-300 collapse-arrow">
				<input type="checkbox">
				<div class="collapse-title text-xl font-medium">
					商店管理
				</div>
				<div class="collapse-content">
					<ul>
						<li><%= link_to '編輯商店', edit_store_path %></li>
					</ul>
				</div>
			</div>
			<div class="collapse w-48 border rounded-box border-base-300 collapse-arrow">
				<input type="checkbox">
				<div class="collapse-title text-xl font-medium">
					商品管理
				</div>
				<div class="collapse-content">
					<ul>
						<li><%= link_to '我的商品', list_store_products_path %></li>
						<li><%= link_to '新增商品', store_products_path %></li>
						<li>商品違規</li>
					</ul>
				</div>
			</div>
			<div class="collapse w-48 border rounded-box border-base-300 collapse-arrow">
				<input type="checkbox">
				<div class="collapse-title text-xl font-medium">
					訂單管理
				</div>
				<div class="collapse-content">
					<ul>
						<li><%= link_to '訂單總覽', list_store_orders_path %></li>
						<li>退貨/退款</li>
					</ul>
				</div>
			</div>
			<div class="collapse w-48 border rounded-box border-base-300 collapse-arrow">
				<input type="checkbox">
				<div class="collapse-title text-xl font-medium">
					財務管理
				</div>
				<div class="collapse-content">
					<ul>
						<li>我的進帳</li>
						<li>我的錢包</li>
						<li>銀行帳號</li>
					</ul>
				</div>
			</div>
		<% else %>
			<div class="collapse w-48 border rounded-box border-base-300 collapse-arrow">
				<input type="checkbox">
				<div class="collapse-title text-xl font-medium">
					創立商店
				</div>
				<div class="collapse-content">
					<ul>
						<li><%= link_to '開立商店', new_store_path %></li>
					</ul>
				</div>
			</div>
		<% end %>
	</div>

	
	<div class='col flex-grow-1 flex flex-cols-3'>
		<div class="shadow">
			<div class="stat">
				<div class="stat-title">Total Page Views</div> 
				<div class="stat-value">89,400</div> 
				<div class="stat-desc">21% more than last month</div>
			</div>
		</div>
		<div class="shadow">
			<div class="stat">
				<div class="stat-title">Total Page Views</div> 
				<div class="stat-value">89,400</div> 
				<div class="stat-desc">21% more than last month</div>
			</div>
		</div>
		<div class="shadow">
			<div class="stat">
				<div class="stat-title">Total Page Views</div> 
				<div class="stat-value">89,400</div> 
				<div class="stat-desc">21% more than last month</div>
			</div>
		</div>
		<div class="shadow">
			<div class="stat">
				<div class="stat-title">Total Page Views</div> 
				<div class="stat-value">89,400</div> 
				<div class="stat-desc">21% more than last month</div>
			</div>
		</div>
	</div>
</div>


