<div class='grid grid-cols-4'>
	<div class='col'>
		<% if current_store %>
			<div class="collapse w-36 border border-base-300 collapse-arrow bg-gray-300">
				<input type="checkbox">
				<div class="collapse-title text-xl font-medium">
					商店管理
				</div>
				<div class="collapse-content">
					<ul>
						<li><%= link_to '編輯商店', edit_store_path %></li>
					</ul>
				</div>
			</div>
			<div class="collapse w-36 border border-base-300 collapse-arrow bg-gray-300">
				<input type="checkbox">
				<div class="collapse-title text-xl font-medium">
					商品管理
				</div>
				<div class="collapse-content">
					<ul>
						<li><%= link_to '我的商品', list_store_products_path %></li>
						<li><%= link_to '新增商品', store_products_path %></li>
						<li>商品違規</li>
					</ul>
				</div>
			</div>
			<div class="collapse w-36 border border-base-300 collapse-arrow bg-gray-300">
				<input type="checkbox">
				<div class="collapse-title text-xl font-medium">
					訂單管理
				</div>
				<div class="collapse-content">
					<ul>
						<li><%= link_to '訂單總覽', list_store_orders_path %></li>
						<li>退貨/退款</li>
					</ul>
				</div>
			</div>
			<div class="collapse w-36 border border-base-300 collapse-arrow bg-gray-300">
				<input type="checkbox">
				<div class="collapse-title text-xl font-medium">
					財務管理
				</div>
				<div class="collapse-content">
					<ul>
						<li>我的進帳</li>
						<li>我的錢包</li>
						<li>銀行帳號</li>
					</ul>
				</div>
			</div>
		<% else %>
			<div class="collapse w-48 border rounded-box border-base-300 collapse-arrow bg-gray-300">
				<input type="checkbox">
				<div class="collapse-title text-xl font-medium">
					創立商店
				</div>
				<div class="collapse-content">
					<ul>
						<li><%= link_to '開立商店', new_store_path %></li>
					</ul>
				</div>
			</div>
		<% end %>
	</div>

	<div class='col col-span-3'>
		<h3 class='text-center'>銷售概覽</h3>
		<div class="w-full shadow stats">
			<div class="stat place-items-center place-content-center">
				<div class="stat-title">銷售額</div> 
				<div class="stat-value">310M</div> 
				<div class="stat-desc">Jan 1st - Feb 1st</div>
			</div> 
			<div class="stat place-items-center place-content-center">
				<div class="stat-title">訂單數</div> 
				<div class="stat-value text-success">4,200</div> 
				<div class="stat-desc text-success">↗︎ 400 (22%)</div>
			</div> 
			<div class="stat place-items-center place-content-center">
				<div class="stat-title">平均訂單金額</div> 
				<div class="stat-value text-error">1,200</div> 
				<div class="stat-desc text-error">↘︎ 90 (14%)</div>
			</div>
		</div>
	</div>
</div>