<h1>關於我</h1>

<div>
  <h2>讓朋友認識你</h2>
  <%= form_for(@user, url: about_member_index_path) do |f| %>

    <div class="field">
      <%= f.label :self_about, "你是怎樣的一個人" %><br />
      <%= f.text_field :self_about, autocomplete: "你是怎樣的一個人" %>
    </div>

    <div class="field">
      <%= f.label :self_blog, "部落格" %><br />
      <%= f.text_field :self_blog, autocomplete: "部落格" %>
    </div>

    <div class="field">
      <%= f.label :self_web, "個人網站" %><br />
      <%= f.text_field :self_web, autocomplete: "個人網站" %>
    </div>

  <%= f.submit "更新" %>
  <% end %>
</div>