<h1>基本資料</h1>


<div class="">
  <%= form_for(@user, url:edit_member_index_path) do |f| %>
  
  <div>
    <%= f.label :name, '顯示暱稱' %><br />
  </div>
  <div>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email,"您的電子信箱" %><br />
  </div>
  <div class="">
    <%= f.text_field :email %>
  </div>

  <div class="">
    <%= f.label :gender,"性別" %><br />
  </div>
  <div class="">
    <%# <%= f.select (:gender) %> 
  </div>

  <div class="">
    <%= f.label :date, "生日" %><br />
  </div>
  <div class="">
  </div>

  <div class="">
    <%= f.label :country, "所在地" %><br />
  </div>
  <div class="">
    <%= f.text_field :country %>
  </div>

<%end %>
</div>

<br />
<%= form_with(model: @user, url: '', local: true, :html => { multipart: true }) do |form| %>

  <div class="form-group">
      <%= form.label :image %>
      <%= form.file_field :image %>
  </div> 

<%end %>