<h1>基本資料</h1>

<div class="" >
  <%= form_for(@user, url: edit_member_index_path) do |f| %>
    <div class="">
      <%= f.label :name, "顯示暱稱" %><br />
      <%= f.text_field :name %>
    </div><br />

    <div class="">
      <%= f.label :email,"您的電子信箱" %><br />
      <%= f.text_field :email %>
    </div><br />

    <div class="">
      <%= f.label :gender,"性別" %><br />
      <%= f.text_field :gender, placeholder: 'Gender', class: 'form-control' %>
    </div><br />

    <div class="">
      <%= f.label :date, "生日" %><br />
      <%= date_field(:date, :born_on) %>
    </div><br />

    <div class="">
      <%= f.label :country, "所在地" %><br />
      <%= f.text_field :country %>
    </div><br />
    
    <div class="" style="width: 100px; height: 100px;">
      <h2>大頭貼</h2>
     <%= image_tag current_user.image_url if current_user.image_url.present? %></div><br/>
    </div><br />

    <div class="">
      <%= f.label :image, "上載大頭貼" %><br />
      <%= f.file_field :image %>   
    </div> <br />
    <%= f.submit "更新" %>
  <%end %>
</div>
