<div class='container '>
  <div class="flex flex-row w-3/4 mt-12 mb-20 mx-auto">
    <div class="flex flex-grow h-40 w-60   rounded-box  ">
      <div class='w-15 p-2.5 ' style="width: 200px; height: 100px;">
        <%= image_tag current_user.image_url if current_user.image_url.present? %>
      </div>
      <div class='w-full p-2.5'>
        <h1 class='text-lg mb-2'><%= current_user.name %></h1>
      <div>
        <a href="#" class='text-sm'><%= sanitize "#{User.now_rank_icon(current_user.accumulated_amount)}" %>
                                    <%="#{User.now_user_rank(current_user.accumulated_amount)} 
                                    #{current_user.country}" %>
                                    </a> 
      </div>
      
      <div>
        <a href="#"><i class="fab fa-bitcoin"></i>   <%=current_user.p_coins %></a>
      </div>
      <div>
        <p><i class="fas fa-star"></i>  current_user.score</p>
      </div>
    </div>

    <div class="border">
      <div class="">
        <h2 class="text-lg mt-2 ml-5">當年度升級任務</h2>
      </div>
      <div class="">
        <% if current_user.accumulated_amount >= 20000 %>
          <p class="mt-2 ml-5 ">您已達成最高等級<%= sanitize User.user_rank(current_user.accumulated_amount) %></p>
        <% else %>
          <p class="mt-2 ml-5">完成以下一項條件,可立即升級為<%= sanitize User.user_rank(current_user.accumulated_amount) %></p>
        <% end %>
      </div>
      <div class="flex w-full h-full">
        <div class=" w-35 text-5xl ml-5 mt-3 mb-3">
          <p><%= sanitize up_rank_icon(current_user.accumulated_amount) %></p>
        </div>
        <div class="mt-2  text-xl">
          <% if current_user.accumulated_amount >= 20000 %>
            <p class="text-center mb-5 mt-3">恭喜您已達成任務</p>
          <% else %>
            <p class="mt-4 ml-6">消費金額還需 NT$<%= User.still_need(current_user.accumulated_amount) %></p>
          <% end %>
        </div>
      </div>
    </div>
  

    <div class="border">
      <div class="">
        <h2 class="text-lg mt-2 ml-5">下一年度升級任務</h2>
      </div>
      <div class="mt-2 ">
        <% if current_user.accumulated_amount >= 20000 %>
          <p class="ml-5 mb- mt-2">恭喜您已達成任務</p>
        <% else %>
          <p class="mt-2 ml-5">完成以下一項條件,可在下一個年度升級為<%= sanitize User.user_rank(current_user.accumulated_amount) %></p>
        <% end %>
      </div>
      <div class="flex mt-3 ml-2">
        <div class=" w-35 text-5xl ml-5 mb-8">
          <p><%= sanitize up_rank_icon(current_user.accumulated_amount) %></p>
        </div>
        <div class="mt-1  text-xl">
          <% if current_user.accumulated_amount >= 20000  %>
            <p class=" mb-7 ml-2">恭喜您在下一年度為尊貴會員</p>
          <% else %>
            <p class="mt-2 ml-6">消費金額還需 NT$<%= User.still_need(current_user.accumulated_amount) %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<div>
  <div class="">
    <a href="#" class="tab tab-bordered">關於我</a>
    <div class="flex">
      <div class="">
        <h3>個人名片</h3>

          <div class="flex" >
            <div class=""> 性別 : &emsp; </div>
            <div class=""><%= current_user.gender %></div>
          </div>

        <div class="flex">
          <div class=""> 現居住地 : &emsp; </div>
          <div class=""><%= current_user.country %></div>
        </div>

        <div class="flex">
          <div class=""> 加入日期 : &emsp; </div>
          <div class=""><%= current_user.created_at.to_s.split(' ')[0]%></div>
        </div>

        <div class="flex">
          <div class="block"> 個人資料設定 : &emsp; </div>
          <div class="">
            <p><%= link_to "點我更新你的個人介紹",about_member_index_path %></p>
            <p><%= link_to "點我設定暱稱、大頭貼照、生日...", edit_member_index_path %></p>
          </div>             
      </div>
    </div>   
  <div class="">
    <a href="#" class="tab tab-bordered">自我介紹</a> 
    <div class="flex">
      <div class="">
      
        <div class="flex">
          <div class=""> 你是怎樣的一個人 : &emsp; </div>
          <div class=""><%= current_user.self_about %></div>
        </div>

        <div class="flex">
          <div class=""> 部落格 : &emsp; </div>
          <div class=""><%= current_user.self_web %></div>
        </div>

        <div class="flex">
          <div class=""> 個人網站 : &emsp; </div>
          <div class=""><%= current_user.self_about %></div>
        </div>

        <div class="flex">
          <div class=""> 你是怎樣的一個人 : &emsp; </div>
          <div class=""><%= current_user.self_about %></div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="block">
        <div class="">小提醒</div>
        <div class="">在找你關注的設計館嗎？現在你可以在 慾望清單 裡看到喔。</div>
      </div>
</div>

