<div class="bg-white">
	<div class="max-w-7xl mx-auto px-4 pt-4 pb-16 sm:px-6 sm:pt-8 sm:pb-24 lg:px-8 xl:px-2 xl:pt-14">
		<div class="max-w-lg mx-auto grid grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
			<div class="max-w-lg mx-auto w-full">
				<div class="breadcrumbs md:block my-3 pl-3">
					<ul class='my-0 px-0'>
						<%= link_to cart_path do %>
						<li class='text-blue-400 text-lg'>< 返回購物車</li>
						<% end %>
					</ul>
				</div>
				<%# product %>
				<% @store_items.each do |item_arr| %>
					<h3 class="text-gray-900 py-3 pl-3">店家名稱：
						<%= item_arr[0].store.name %>
					</h3>
					<div class='border-b'>
						<% item_arr.each do |item| %>
							<div class="flow-root">
								<ul role="list" class="-my-6 divide-y divide-gray-200 py-3">
									<li class="py-6 flex space-x-6">
										<img src="https://tailwindui.com/img/ecommerce-images/checkout-page-05-product-01.jpg"
											alt="Front of women&#039;s basic tee in heather gray."
											class="flex-none w-24 h-24 object-center object-cover bg-gray-100 rounded-md">
										<div class="flex-auto">
											<div class="space-y-1 sm:flex sm:items-start sm:justify-between sm:space-x-6">
												<div class="flex-auto text-sm font-medium space-y-1">
													<h3 class="text-gray-900">
														<a href="#"><%= item.name %></a>
													</h3>
													<p class="text-gray-900">$<%= item.price.to_i %></p>
												</div>
												<div class="flex-none flex space-x-4">
													<p class="text-sm font-medium text-indigo-600 hover:text-indigo-500">
														數量: <%= item.quantity %>
													</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						<% end %>
					</div>
				<% end %>
				<%# money %>
				<dl class="text-sm font-medium text-gray-500 mt-10 space-y-6">
					<div class="flex justify-between">
						<dt>商品小計</dt>
						<dd class="text-gray-900">NT$ <%= current_cart.total %></dd>
					</div>
					<div class="flex justify-between">
						<dt>運費</dt>
						<dd class="text-gray-900">NT$ <%= delivery_fee %></dd>
					</div>
					<div class="flex justify-between">
						<dt class="flex">優惠券折扣</dt>
						<dd class="text-gray-900">-NT$ <%= coupon_value %></dd>
					</div>
					<div class="flex justify-between">
						<dt class="flex">會員折扣</dt>
						<dd class="text-gray-900">-NT$ <%= user_discount(current_user.accumulated_amount) %></dd>
					</div>
					<div class="flex justify-between">
						<dt>結帳總金額</dt>
						<dd class="text-gray-900">NT$ <%= final_shopping_cart_value(current_user.accumulated_amount) %></dd>
					</div>
				</dl>			
			</div>
			<%# order_form %>
			<div class="max-w-lg">
				<%= form_for @order, html: {class: 'mt-6'} do |f| %>
					<h3 class='text-xl font-bold pb-5'>填寫收件人資訊</h3>
					<div class="grid grid-cols-12 gap-y-6 gap-x-4">
						<div class="col-span-full">
							<%= f.label :email, "電子信箱", class: "block text-sm font-medium text-gray-700" %>
							<div class="mt-1">
								<%= f.email_field :email, class: 'class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm', autocomplete: "email" %>
							</div>
						</div>
						<div class="col-span-full">
							<%= f.label :recceiver, "收件人姓名", class: "block text-sm font-medium text-gray-700" %>
							<div class="mt-1">
								<%= f.text_field :receiver,
										class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
							</div>
						</div>
						<div class="col-span-full">
							<%= f.label :tel, "收件人手機", class: "block text-sm font-medium text-gray-700" %>
							<div class="mt-1">
								<%= f.telephone_field :tel,
										class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
							</div>
						</div>
						<div class="col-span-full">
							<%= f.label :address, "收件人地址", class: "block text-sm font-medium text-gray-700" %>
							<div class="mt-1">
								<%= f.text_field :address, autocomplete: "street-address",
										class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
							</div>
						</div>
						<div class="col-span-full">
							<%= f.label :delivery, "運送方式", class: "text-sm font-medium text-gray-700" %>
							<%= f.select :delivery, class: "block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" do %>
								<% Order.deliveries.each do |delivery| %>
									<%= content_tag :option, delivery[0], value: delivery[1] %>
								<% end %>
							<% end %>
						</div>
						<div class="col-span-full">
							<%= f.label :message, "給設計師的訊息或注意事項", class: "block text-sm font-medium text-gray-700" %>
							<div class="mt-1">
								<%= f.text_area :message, class: 'w-full textarea textarea-bordered', size: "20x5", placeholder: '若你的訂單商品或是體驗活動需要提供客製化細節，請務必於下單時，填寫顏色、尺寸、圖案款式、客製文字等規格' %>
							</div>
						</div>
					</div>
					<%= f.submit '建立訂單', class: "w-full mt-6 bg-red-300 border border-transparent rounded-md shadow-sm py-2 px-4 text-sm font-medium hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-white" %>
				<% end %>
				<p class="flex justify-center text-sm font-medium text-gray-500 mt-6">
					<i class="fas fa-lock mr-2"></i>我們有信用卡結帳與銀行轉帳兩種方式
				</p>
			</div>
		</section>
	</main>
</div>