<h1 class="m-3">購買訂單</h1>
<div class='flex'>
	<%= link_to pending_orders_path do %>
		<div class='text-lg p-3 lg:p-5'>尚未付款<%= orders_length(@pending_orders) %></div>
	<% end %>
	<%= link_to processing_orders_path do %>
		<div class='text-lg p-3 lg:p-5'>處理中<%= orders_length(@processing_orders) %></div>
	<% end %>
	<%= link_to shipped_orders_path do %>
		<div class='text-lg p-3 lg:p-5'>待收貨<%= orders_length(@shipped_orders) %></div>
	<% end %>
	<%= link_to completed_orders_path do %>
		<div class='text-lg p-3 lg:p-5'>已完成<%= orders_length(@completed_orders) %></div>
	<% end %>
	<%= link_to cancelled_orders_path do %>
		<div class='text-lg p-3 lg:p-5'>已取消<%= orders_length(@cancelled_orders) %></div>
	<% end %>
</div>
<hr>
<% if @orders.first === nil %>
	<div class='flex justify-center'>
		<%= image_tag("OpenDoodles - LayingDown") %>
	</div>
<% else %>
	<%= render 'components/order_list', orders: @orders %>
<% end %>


