<div class="breadcrumbs m-2.5">
	<ul>
		<li class='text-blue-400'><%= check_state(@order) %></li> 
		<li><%= @order.serial %></li> 
	</ul>
</div>

<div class="flex justify-between m-5 mt-0">
	<div>
		<% @store_items.each do |item_arr| %>
			<p class='inline'><%= item_arr[0].store.name %></p>
		<% end %>
	</div>
	<p><%= @order.created_at.to_date %></p>
</div>

<div class="flex">
	<p id='order-state' class=' bg-gray-500 text-white inline-block border-2 border-gray-500 rounded-full p-2 m-5'><%= check_state(@order) %></p>
</div>

<div class="rate border roubded px-5 m-5">
	<h2 class="py-5">已獲評價</h2>
	<hr>
	<p class="py-5">thank you so much</p>
</div>

<div class="delivery border roubded px-5 m-5">		
	<h2 class="py-5">運送狀態</h2>
	<hr>
	<ul class="w-full steps order-steps py-5">
		<%= content_tag(:li, '待付款', data: {content: "✓"}, class: state_step(@order, 0)) %>
		<%= content_tag(:li, '已付款', data: {content: "✓"}, class: state_step(@order, 1)) %>
		<%= content_tag(:li, '撿貨中', data: {content: "✓"}, class: state_step(@order, 2)) %>
		<%= content_tag(:li, '運送中', data: {content: "✓"}, class: state_step(@order, 3)) %>
		<%= content_tag(:li, '已送達', data: {content: "✓"}, class: state_step(@order, 4)) %>
		<%= content_tag(:li, '已取消', data: {content: "✓"}, class: state_step(@order, 5)) %>
	</ul>
</div>

<div class="border roubded px-5 m-5">		
	<h2 class="py-5">訂單內容</h2>
	<hr>
	<% @store_items.each do |item_arr| %>
	<p class='text-xl'><%= item_arr[0].store.name %></p>
		<% item_arr.each do |item| %>
		<div class="grid grid-cols-5 my-5">
			<div class="col pr-3">
				<img src="http://fakeimg.pl/100x100/ecf0f1/" alt="product_img">
			</div>
			<div class='col-span-2'>
				<span class='block'><%= item.name %></span>
				<%= react_component("PumpUpScreen") %>
			</div>
			<div class="col text-right">x <%= item.quantity %></div>
			<div class="col text-right">NT$ <%= item.price.to_i %></div>
		</div>
		<% end %>
	<% end %>
	<hr>
	<div class="grid grid-cols-2 my-2">
		<div></div>
		<div>
			<div class="grid grid-cols-2 py-1">
				<p class="text-right">小計</p>
				<p class="text-right"><%= @order.total %></p>
			</div>
			<div class="grid grid-cols-2 py-1">
				<p class="text-right">商品折抵</p>
				<p class="text-right">0</p>
			</div>
			<div class="grid grid-cols-2 py-1">
				<p class="text-right">運費</p>
				<p class="text-right">0</p>
			</div>
			<hr class="my-2">
			<div class="grid grid-cols-2 py-1">
				<p class="text-right">總計</p>
				<p class="text-right"><%= @order.total %></p>
			</div>
		</div>
	</div>
</div>

<div class="delivery border roubded px-5 m-5">		
	<h2 class="py-5">收件人資訊</h2>
	<hr>
	<div class='grid grid-cols-8'>
		<div class="col col-span-3 md:col-span-2 lg:col-span-1">
			<p class="text-right pr-3">收件人</p>
		</div>
		<div class="col col-span-5 md:col-span-6 lg:col-span-7">
			<p><%= @order.receiver %></p>
		</div>
		<div class="col col-span-3 md:col-span-2 lg:col-span-1">
			<p class="text-right pr-3">收件人地址</p>
		</div>
		<div class="col col-span-5 md:col-span-6 lg:col-span-7">
			<p><%= @order.address %></p>
		</div>
		<div class="col col-span-3 md:col-span-2 lg:col-span-1">
			<p class="text-right pr-3">收件人電話</p>
		</div>
		<div class="col col-span-5 md:col-span-6 lg:col-span-7">
			<p><%= @order.tel %></p>
		</div>
	</div>
</div>

