<div class="bg-white">
  <main class="max-w-2xl mx-auto pt-16 pb-24 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">購物車</h1>  

    <form class="mt-2 lg:grid lg:grid-cols-12 lg:gap-x-12 lg:items-start xl:gap-x-16">
      <section aria-labelledby="cart-heading" class="selected_items lg:col-span-7">
        <h2 id="cart-heading" class="sr-only">Items in your shopping cart</h2>

        <ul role="list" class="border-t border-b border-gray-200 divide-y divide-gray-200 px-0">
          <% current_cart.items.each do |item| %>
            <div class="cart-item" data-id="<%= item.product_id %>">
              <div class="item-header border-b p-1">
                <a href="#">設計館:<%= item.store.name %></a>
              </div>
              <li class="flex py-6 sm:py-10">
                <div class="flex-shrink-0">                    
                  <%= image_tag item.image, class: "w-24 h-24 rounded-md object-center object-cover sm:w-48 sm:h-48" %>  
                </div>
                <div class="ml-4 flex-1 flex flex-col justify-between sm:ml-6">
                  <div class="relative pr-9 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:pr-0">
                    <div>
                      <div class="flex justify-between">
                        <h3 class="text-sm">
                          <a href="#" class="font-medium text-gray-700 hover:text-gray-800">
                              <%= item.product.name %>
                          </a>
                        </h3>
                      </div>
                      
                      <p class="mt-1 text-sm font-medium text-gray-900">$<%= number_with_delimiter(item.product.price.to_i) %></p>
                    </div>

                    <div class="selection-container mt-4 sm:mt-0 sm:pr-9">
                      <label for="quantity-0" class="sr-only">Quantity, Basic Tee</label>
                      <select class="productID max-w-full rounded-md border border-gray-300 py-1.5 text-base leading-5 font-medium text-gray-700 text-left shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" id="<%= item.product_id %>">
                        <%= 1.upto(product_storage(item.product_id)) do |i| %>
                          <option value="<%= " #{i}" %>" <%= set_cart_item_qiantity(i, item.quantity) %>><%= "#{i}" %></option>
                        <% end %>
                      </select>

                      <div class="absolute top-0 right-0">
                        <button type="button"
                            class="delete-item-button -m-2 p-2 inline-flex text-gray-400 hover:text-gray-500" id="<%= item.product_id %>">
                          <span class="sr-only">Remove</span>
                          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                              fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd" />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>

                  <p class="mt-4 flex text-sm text-gray-700 space-x-2">  
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                            clip-rule="evenodd" />
                    </svg>
                    <span>庫存:<%= product_storage(item.product_id) %></span>
                  </p>
                </div>
              </li>
            </div>
          <% end %>
        </ul>
        <div class="deliver-item mt-2 p-2">
          <div class="deliver-item-title mb-1">
            <span>選擇收件地與運送方式</span>
          </div>
        
          <div class="how-to-deliver ">
            <select class="border border-gray-300 inline mb-1">
              <option value disabled>請選擇運送方式</option>
              <optgroup label="從 台灣 寄出"></optgroup>
              <% Product.deliveries.each do |delivery| %>
                <option value="<%= delivery[1] %>">
                  <%= delivery[0] %>
                </option>
              <% end %>
            </select>
        
            <ul class="promo px-0">
              <li>通知出貨後約 1 - 2 天寄達</li>
            </ul>
            <span class="block text-left mb-6 mt-4">
              <%= link_to "清空購物車" , cart_path, method: "delete" , class: 'border p-3 rounded bg-gray-200 hover:bg-blue-200 text-red-500' %>
            </span>         
          </div>        
        </div> 
      </section>

      <section aria-labelledby="summary-heading"
          class="mt-16 bg-gray-50 rounded-lg px-4 py-6 sm:p-6 lg:p-8 lg:mt-0 lg:col-span-5">
        <h2 id="summary-heading" class="text-xl font-medium text-gray-900">訂單摘要</h2>

        <dl class="mt-6 space-y-4">
          <div class="summary-product-price flex items-center justify-between">
            <dt class="text-md text-gray-600">
              商品金額
            </dt>
            <dd class="total_price_container text-md font-medium text-gray-900">
              $<span class="total_price text-md font-medium text-gray-900">
                <%= number_with_delimiter(current_cart.total) %>
              </span>             
            </dd>
          </div>
          <div class="summary-delivery-price border-t border-gray-200 pt-4 flex items-center justify-between">
            <dt class="flex items-center text-md text-gray-600">
              <span>運費金額</span>  
            </dt>
            <% if current_cart.total === 0 %>
              <dd class="text-md font-medium text-gray-900">
              $<span class="total_price">
                0
              </span>
            <% else %>
              <dd class="text-md font-medium text-gray-900">
              $<span class="total_price">
                <%= number_with_delimiter(delivery_fee) %>
              </span>
            </dd>
            <% end %>
          </div>

          <div class="summary-coupon-redeem border-t border-gray-200 pt-4 flex items-center justify-between">
            <dt class="flex text-md text-gray-600">
              <span>優惠券折抵</span>       
            </dt>
            <dd class="text-md font-medium text-gray-900">
              $<span class="coupon_value">
                0
              </span>
            </dd>
          </div>

          <div class="border-t border-b border-gray-200 pt-4 flex items-center justify-between">
            <dt class="text-base font-medium text-gray-900">
              <span class="total-price-title text-xl">結帳總金額</span>        
            </dt>
            <% if current_cart.total === 0 %>
              <dd class="text-md font-medium text-gray-900">
              $<span class="total_price">
                0
              </span>
            <% else %>
              <dd class="text-base font-medium text-gray-900">
                $<span class="sum text-xl">
                  <%= number_with_delimiter(current_cart.total_included_delivery_fee) %>
                </span>
              </dd>
            <% end %>
          </div>

          <div class="coupon">
            <a href="#">使用優惠券、P Coins 或禮物卡</a>
          </div>        
          <div class="user-coupon">
            <% @coupons.each do |coupon| %>
              <div class="coupon">
                <label for="<%= coupon.coupon_id %>">
                  <%= coupon.coupon.name %>
                </label>
                  <%= coupon.coupon.description %>
                  <%= coupon.status %>        
                    <input id="<%= coupon.coupon_id %>" name="coupon" type="radio" value="<%= coupon.coupon.value %>" />
              </div>
            <% end %>
          </div>
        </dl>

        <div class="mt-6">
          <%= link_to checkout_cart_path do %>
          <button type="submit"
            class="w-full bg-red-300 border border-transparent rounded-md shadow-sm py-3 px-4 text-base font-medium text-white hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500">
            前往結帳
          </button>
          <% end %>
        </div>
      </section>
    </form>
  </main>
</div>