<div class="container">
  <div class="input-wrapper">
    <input type="checkbox" id="select_all">
    <label for="select_all">選擇全部</label>
  </div>
 

  <% current_cart.items.each do |item| %>
    <div class="selected-item border border-gray-500">
      <div class="item-wrapper">
        <div class="item-header border-b-2 border-gray-500">
          <input type="checkbox" id='store'>
          <label for="store"><%= item.store_name %></label>
        </div>
    
        <div class="item-body-wrap">
          <div class="item-body border flex">
            <div class="item-img border ">
              <img src="https://picsum.photos/120/120/?random=<%= item.product_id %>">
            </div>
            <div class="item-name border">
              <a href="#"><%= item.name %></a>
    
              <div class="item-qantity">        
                <select class="border border-gray-400 inline">
                  <%= 1.upto(item.quantity) do |i| %>
                    <option value="<%= "#{i}" %>"><%= "#{i}" %></option>
                  <% end %>
                </select>
                <%# n + 1 %>
                <span>商品數量:<%= item.quantity %></span>
                <div class="subtotal"><%= item.price.to_i %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="deliver-item">
        <div class="deliver-item-title">
          <span>選擇收件地與運送方式</span>
        </div>
    
        <div class="how-to-deliver">
          <select class="border border-gray-400 inline">
            <option value disabled>請選擇收件國家 / 地區</option>
            <optgroup label="從 台灣 寄出"></optgroup>
            <%= 1.upto(Delivery.all.count) do |i| %>
              <option value="<%= Delivery.find(2) %>"><%= Delivery.find(i)[:shipping_method] %>
              </option>
            <% end %>
            <%# n + 1 %>

            <option value="seven-eleven">7-11取貨 NT$60</option>
            <option value="CN">順豐速通 NT$1,000</option>
          </select>
    
          <ul class="promo">
            <li>通知出貨後約 1 - 2 天寄達 | 提供追蹤</li>
            <li>滿 NT$ 1,000 免運費</li>
          </ul>
        </div>
    
      </div>
    </div>
  <% end %>



  <div class="order-list border border-gray-500 mb-3">
    <div class="calulate-page-header bg-gray-300">訂單摘要</div>
    <div class="calulate-page-body">
      <div class="summary-items flex my-3">
        <span class="summary-items-title ">商品總計</span>
        <span class="summary-items-price">NT$<%= current_cart.total %></span>
      </div>

      <div class="summary-items-freight my-3">
        <span class="delivery-fee-title">運費總計</span>
        <span class="delivery-fee-price">NT$</span>
      </div>

      <div>
        <p>
          首綁首刷國泰世華卡，滿 NT$1000 現折 NT$100 (限量)！僅限「常用信用卡」結帳
        </p>
        <p>
          實際運費金額以購物車結算或是到貨時收取的金額為準。
        </p>
      </div>

      <div class="coupon">
        <a href="#">使用優惠券、P Coins 或禮物卡</a>
      </div>

    </div>

    <div class="border-t-2 border-gray-400 my-3">
      <span class="total-price-title">結帳總金額</span>
      <span class="total-price">
        <%= current_cart.total %>               
      </span>
    </div>
    <div class="my-3">
      <button class="bg-red-400 p-3 text-white rounded inline-block">
        <%= link_to '前往結帳', checkout_cart_path %>
      </button>
    </div>
  </div>
</div>