<div>
  <div class="min-h-screen flex items-center justify-center bg-blue-200 py-12 px-4 sm:px-6 lg:px-8">
    <img  style="border:20px;margin:50px;float:left;width:500px;height: 500px;" class="object-cover hidden md:block" src="https://images.unsplash.com/photo-1464746133101-a2c3f88e0dd9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1327&q=80">
    <hr>

    <div class="max-w-md w-full space-y-8">        
      <div>
        <h2 class="mt-6 text-center text-3xl font-bold text-gray-900">
          登入您的帳戶
        </h2>
      </div>

      <%= form_for resource, as: resource_name, url: session_path(resource_name), html: {class:"mt-8 space-y-6"} do |f| %>
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">

          <div>
            <%= f.label '電子信箱',class:"block text-md mb-2"%>
            <%= f.email_field :email,autofocus: true, autocomplete: "email",class:"appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" %>
          </div>

          <div>
            <%= f.label '密碼', class:"block text-md mb-2" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" %>
          </div>
        </div>
  
        <% if devise_mapping.rememberable? %>
          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <%= f.check_box :remember_me, class: "h-4 w-4 text-indigo-600 focus:ring-blue-500 border-gray-300 rounded" %>
              <%= f.label '記得我',class: "ml-2 block text-sm text-gray-900" %>                
              </label>
            </div>
            <div class="text-sm">
              <a href="boxing.html" class="font-medium text-blue-600 hover:text-blue-500">
               忘記密碼?
              </a>
            </div>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "登入", class:"group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-lightblue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-50"%>
        </div>
        <span class="flex items-center justify-center space-x-2">
          <span class="h-px bg-gray-400 w-14"></span>
          <span class="font-normal text-gray-500">or login with</span>
          <span class="h-px bg-gray-400 w-14"></span>
        </span>
        <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
                <%#= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post , class: 'w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50'%>
                <%= link_to omniauth_authorize_path(resource_name, provider), method: :post , class: 'w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50' do %>
                    <span class="sr-only">Sign in with <%= OmniAuth::Utils.camelize(provider) %></span>
                    <% if provider.to_s == 'github'%>
                        <svg class="h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 0C4.477 0 0 4.484 0 10.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0110 4.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.203 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.942.359.31.678.921.678 1.856 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0020 10.017C20 4.484 15.522 0 10 0z" clip-rule="evenodd" />
                        </svg>
                    <% else %>
                        <img class=" h-5 cursor-pointer" src="https://i.imgur.com/arC60SB.png" alt="">
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
      <% end %> 
    </div>
  </div>
</div> 


