<div class="w-full">
    <div class="md:flex border rounded" style="min-height: 80vh;">
            <div class="col-span-1 bg-red-300 border-r border-gray-300 lg:w-1/4">
                <ul class="overflow-auto  bg-red-300 md:h-500" >
                    <h2 class="ml-2 mb-2 text-gray-600 text-lg my-2">聊天室</h2>
                    <li>
                        <% if @rooms.present? %>
                            <% @rooms.each do |room| %>
                                <%= link_to room_path(room.id), class: "hover:bg-gray-100 border-b border-gray-300 px-3 py-2 cursor-pointer flex items-center text-sm focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out" do %>
                                    <img class="h-10 w-10 rounded-full object-cover"
                                    src="<%= room.product.image %>"
                                    />
                                    <div class="w-full pb-2">
                                    <div class="flex justify-between">
                                        <span class="block ml-2 font-semibold text-base text-gray-600"><%= room.product.name %> - 來自 <%= room.user.name %> 詢問</span>
                                    </div>
                                </div>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                </ul>
            </div>
            
            <div class="col-span-2 bg-white w-full">
                <div class="w-full">
                    <div class="flex items-center pl-3 py-3 bg-blue-200">
                    <% if @room.present? %>
                        <img class="h-10 w-10 rounded-full object-cover"
                        src="<%= @room.product.image if @room.present? %>"
                        />
                        <span class="block ml-2 font-bold text-base text-gray-600"><%= @room.product.name if @room.present? %></span>
                        <span class="connected text-green-500 ml-2" >
                            <svg width="6" height="6">
                                <circle cx="3" cy="3" r="3" fill="currentColor"></circle>
                            </svg>
                        </span>
                    <% end %>
                    </div>
                    <div id="chat" class="w-full overflow-y-auto p-10 relative bg-blue-300 " style="height: 700px;" ref="toolbarChat">
                        <ul>
                            <li class="clearfix2" id="chat-room-content">
                            <% if @messages.present? %>
                                <% @messages.each do |message| %>
                                    <% if message.user == current_user %>
                                        <div class="w-full flex justify-end " >
                                            <div class="bg-yellow-50 rounded px-5 py-2 my-2 text-gray-700 relative " style="max-width: 300px;">
                                                <span class="block"><%= message.content%></span>
                                                <span class="block text-xs text-left"><%= message.created_at.strftime('%H:%M %p') %></span>
                                            </div>
                                        </div>
                                    <% else %>
                                        <div class="w-full flex justify-start">
                                            <div class="bg-yellow-200 rounded px-5 py-2 my-2 text-gray-700 relative" style="max-width: 300px;">
                                                <span class="block"><%= message.content%></span>
                                                <span class="block text-xs text-right"><%= message.created_at.strftime('%H:%M %p') %></span>
                                            </div>
                                        </div>
                                    <% end %>
                                <% end %>
                            <% end %>
                            </li>
                        </ul>
                    </div>
                    <% if @room.present? %>
                        <%= render 'messages/form',message: Message.new,room: @room %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>