<%= form_for(product) do |f| %>
	<div>
		<%= f.label :name, "商品名稱" %>
			<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :price, "商品價錢" %>
			<%= f.text_field :price %>
	</div>
	<div>
		<%= f.label :quantity, "商品數量" %>
			<%= f.text_field :quantity %>
	</div>
	<div>
		<%= f.label :description, "商品描述" %>
			<%= f.text_field :description %>
	</div>
	<div>
		<%= f.label :category, "商品類別" %>
			<%= f.text_field :category %>
	</div>
	<div>
		<%= f.label :content, "內容" %>
			<%= f.text_field :content %>
	</div>
	<div>
		<%= f.submit %>
	</div>
	<% end %>