<h1>商品副頁面</h1>

<h1><%= @product.name %></h1>
<h1><%= @product.price %></h1>
<h1><%= @product.quantity %></h1>
<h1><%= @product.describtion %></h1>
<h1><%= @product.category %></h1>
<h1><%= @product.material %></h1>
<h1><%= @product.manufacturing_method %></h1>
<h1><%= @product.country %></h1>
<h1><%= @product.content %></h1>





     
