<h1>商品副頁面</h1>
<div class="flex justify-start">購物車 <%= cart_items_amount %></div>
<%= link_to "清空購物車", cart_path, method: "delete" %>
<section>
  <div class="flex">
      <div class="border-2 p-3 m-auto" style="width: 18rem;">
        <img class="m-auto" src="https://picsum.photos/200/200/?=1">
        <div class="card-body">
          <h3 class="card-title">商品名稱：<%= @product.name %></h3>
          <p class="card-text text-xl">價錢：<%= @product.price.to_i %>
          </p>
          <div class="btn btn-success mb-2">
            <%= link_to "加入購物車" , add_cart_path(@product), method: "post" %>
          </div>
          <div class="btn btn-primary white">
            <%= link_to "立刻結帳" , cart_path %>
          </div>
        </div>
      </div>
  </div>
</section>



<% @comments.each do |comment| %>
  <%= comment.rate %>
  <%= comment.content %>
<% end %>

